# **Implementasi String**

#### **Creating a function**

In [1]:
def function():
    print("Hello there, nice to meet you!")

#### **Calling a function**

In [2]:
function()

Hello there, nice to meet you!

#### **Arguments**

In [14]:
def name_function(name):
    print("Hello " + name + ", nice to meet you!")

name_function("John")
name_function("Alpha")
name_function("Joseph")

Hello John, nice to meet you!
Hello Alpha, nice to meet you!
Hello Joseph, nice to meet you!

**Number of arguments**

In [15]:
def name(name, nema):
    print("Hello " + name + " and " + nema + ", nice to meet you!")
name("John", "Alpha")

Hello John and Alpha, nice to meet you!

**Arbitrary Arguments**

In [18]:
def function(*name):
    print("Nice to meet you,", name[1])
function("John", "Alpha", "Joseph")

Nice to meet you, Alpha

**Keywords Arguments**

In [21]:
def name(first, mid, last):
    print("The oldest child is", first)
name(last="Joseph", mid="Alpha", first="John")

The oldest child is John

**Arbitrary Keyword Arguments**

In [22]:
def function(**name):
    print("His oldest child is", name["first"])

function(first="John", mid="Alpha", last="Joseph")

His oldest child is John

**Default Parameter Value**

In [23]:
def profile(city = "London"):
    print("I'm from", city)
profile()
profile("Berlin")
profile("St. Petersburg")

I'm from London
I'm from Berlin
I'm from St. Petersburg

**Passing a List as an Argument**

In [24]:
def food(food):
    for i in food:
        print(i)
food(food = ["Pizza", "Burger", "Fries"])

Pizza
Burger
Fries

**Return Values**

In [25]:
def multiple(a, b):
    return a * b
print(multiple(5, 3))
print(multiple(3, 6))
print(multiple(7, 9))

15
18
63

**The pass statement**

In [26]:
def function():
    pass

**Positional-Only Arguments**

In [36]:
# with /
def function(a, /, b, c):
    print(a, b, c)
function(1, 2, 3)

# without /
def function(a, b, c):
    print(a, b, c)
function(a = 1,b = 2,c = 3)

# but if, it will error
def function(a, b, /, c):
    print(a, b, c)
function(a = 1,b = 2,c = 3)

1 2 3
1 2 3

**Keyword-Only Arguments**

In [ ]:
# with *
def function(a, *, b, c):
    print(a, b, c)
function(a = 1,b = 2,c = 3)

# without *
def function(a, b, c):
    print(a, b, c)
function(1,2,3)

# but if, it will error
def function(a, b, *, c):
    print(a, b, c)
function(1,2,3)

**Combine Positional-Only and Keyword-Only**

In [46]:
def function(a, /, b, *, c, d):
    print(a, b, c, d)
function(1, 4, c = 5, d = 8)

1 4 5 8

**Recursion**

In [53]:
def faktorial(k):
  if(k > 0):
    result = k * faktorial(k - 1)
  else:
    result = 1
  return result

faktorial(5)

120